{% load mathfilters %} {% load humanize %} {% load static %}
<div class="container">
  <div class="row">
    {% for product in product.laptops|dictsort:"item_price" %}
    <div class="col-md-3">
      <figure class="card card-product-grid">
        <img class="img-responsive" src="{% static 'images/'|add:product.item_site_name|add:'.png' %}" />

        <figcaption class="info-wrap border-top">
          {% with rating=product.item_rating %}
          <!--|floatformat:"1"-->
          <ul class="rating-stars">
            <li style="width: {{ rating|mul:20.0 }}%" class="stars-active"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
          </ul>
          <small class="text-muted">{{ rating }}</small>
          <a href="/laptop/{{product.item_name}}" class="title mb-3">{{ product.item_name }}</a>

          <div class="mt-2">
            <var class="price">{{ product.item_price|intcomma }} TL</var>
            <a href="{{ product.item_link }}" class="btn btn-sm btn-outline-success float-right">Go to site</a>
          </div>

          {% endwith %}
          <!-- price-wrap.// -->
        </figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>
</div>
